{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="card">
    <div class="row no-gutters">
        <aside class="col-md-6">
            <article class="gallery-wrap">
                <div class="img-big-wrap">
                    <a href="#"><img src="{{product.image.url}}"></a>
                </div> <!-- img-big-wrap.// -->

            </article> <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-md-6 border-left">
            <article class="content-body">

                <h2 class="title">{{product.title}}</h2>

                <div class="mb-3">
                    <var class="price h4">${{product.price}}</var>
                </div>

                <p>
                    {{product.description|safe}}
                </p>

                <hr>

                {% if product.stock == 0 %}
                <h5 class="text-danger">
                    Out Of stock
                </h5>
                {% endif %}
                {% if in_cart %}
                <h4 class="btn  btn-success">Cart Added Successfully <i class="fas fa-check"></i></h4>
                <h4><a href="{% url 'website:cart' %}" class="btn  btn-primary">View <i class="fas fa-eye"></i></a></h4>
                {% else %}
                <a href="{% url 'website:add_to_cart' product.id %}" class="btn  btn-primary">Added to
                    cart </a>
                {% endif %}
            </article> <!-- product-info-aside .// -->
        </main> <!-- col.// -->
    </div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->
{% endblock content %}